.mode-select-bg-container {
  background-color: #12121217;
}

.mode-select-container {
  display: flex;
}

.mode-button {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  background-color: transparent;
}

.mode-button.selected {
  background-color: white;
  z-index: 1; 
  transition: background-color 0.3s ease;
}

.mode-button.left-active {
  border-radius: 0px 40px 0px 0px; 
}

.mode-button.right-active {
  border-radius: 40px 0px 0px 0px; 
}

.mode-button:not(.selected) {
  background-color: transparent;
}
