
.asset-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .asset-row .left-item {
    flex-grow: 1;
  }
  
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between; 
  }
  
  .input-container label {
    display: flex;
    align-items: center;
  }

  .input-container .select {
    padding: 5px;
  }


.dropdown-container {
    margin-left: auto; 
}
  
  .select {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 10px;
    min-width: 248px; 
    margin-left:15px;
    min-height:25px;
  }

  .bg {
    margin-left:129px;
  }

  option {
    color: #6e6e6e;
}

.mb{
    margin-bottom: 12px;
}